body {
    background-color: rgb(255, 255, 255);
    
}
    
h1 {
    color: rgba(67, 157, 231, 0.918);
    text-align: center;
    image
}    

ol {
    color: rgba(67, 157, 231, 0.918);
}

p {
    color: rgba(67, 157, 231, 0.918);
    font-family: verdana;
    font-size: 20px;
}

